.idea
.env
.DS_Store
go2rtc/.env
go2rtc/.dsi.env
frigate/.env
homeassistant/config/.HA_VERSION
homeassistant/config/.cache/
homeassistant/config/.ha_run.lock
homeassistant/config/.storage/
homeassistant/config/automations.yaml
homeassistant/config/blueprints/
homeassistant/config/configuration.yaml
homeassistant/config/home-assistant.log
homeassistant/config/home-assistant.log.1
homeassistant/config/home-assistant.log.fault
homeassistant/config/home-assistant_v2.db
homeassistant/config/home-assistant_v2.db-shm
homeassistant/config/home-assistant_v2.db-wal
homeassistant/config/scenes.yaml
homeassistant/config/scripts.yaml
homeassistant/config/secrets.yaml
frigate/config/.exports
frigate/config/.jwt_secret
frigate/config/.search_stats.json
frigate/config/.timeline
frigate/config/.vacuum
frigate/config/backup.db
frigate/config/backup_config.yaml
frigate/config/frigate.db
frigate/config/frigate.db-shm
frigate/config/frigate.db-wal
frigate/config/go2rtc_homekit.yml
frigate/storage/clips
frigate/storage/exports
frigate/storage/recordings
media_server/config/jellyfin
media_server/config/jellyfin-cache
media_server/config/prowlarr
media_server/config/radarr
media_server/config/sonarr